*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    background-image: linear-gradient(#2b5876, #4e4376);
    background-repeat: no-repeat;
    padding: 50px 100px;
    background-size: cover; 
    width: fit-content;
    margin: auto;  
    margin-top: 40px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
[data-testid="slackUserName"]{
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.img{
   display:flex;
   justify-content: center;
   padding-top: 10px;
}
[data-testid="slackDisplayImage"]{
    height: 250px;
    width: 200px;
    border: 3px solid white;
    border-radius: 7px;
}
[data-testid="myTrack"]{
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}
.link{
    padding-top: 10px;
    display: flex;
    justify-content: center; 
}
[data-testid="githubURL"]{
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-image: linear-gradient(#ffd89b, #19547b);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
}
[data-testid="githubURL"]:hover{
    background-image: linear-gradient(#19547b, #ffd89b);
    color: black;
}
#currentUTCTime{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}
#currentDayOfTheWeek{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}